[Desktop Entry]
Name=Zotero
Exec=/home/ych/scripts/zotero.sh
Icon=atom
NoDisplay=false
Terminal=false
Type=Application
StartupNotify=true
Categories=Settings;
